@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



:root {
  --main-bg-color: #272727;
  --main-text-color: #ffffff;
  --h1-color: aqua;
}

body {
  background-color: var(--main-bg-color);
  font-family: Arial, sans-serif;
  margin: 4rem 2rem;
}

h1 {
  font-size: 4rem;
  /* margin-top: 0; */
  color: var(--h1-color);
}

h2, h3 {
  color: var(--h1-color);
}

p, span {
  color: var(--main-text-color);
  font-size: 16px;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}